.ChangeBackgroundColor
{
	grid-column: 1;
}

.ChangeBackgroundColor button
{
	padding: 10px 20px;

	font-size: 18px;
	font-weight: bold;
	color: white;

	background-color: #4CAF50;
	border: none;
	border-radius: 5px;

	cursor: pointer;
}